body {
padding: 0;
margin: 0;
font-family: 'Lato', sans-serif;
}
#beer {
display: block;
background: #d8e8ff;
color: #363a40;
text-transform: uppercase;
font-weight: bold;
font-size: 13px;
min-height: 100vh;
}
#beer #container {
padding: 50px;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
}
#beer #container h1 {
text-align: center;
margin-bottom: 50px;
font-size: 42px;
text-transform: uppercase;
}
#beer #container .btn-wrapper {
position: relative;
}
#beer #container .btn-wrapper.active .icon {
opacity: 1;
}
#beer #container .btn-wrapper button {
padding: 10px 25px;
border: 1px solid #363a40;
border-radius: 25px;
outline: none;
text-align: center;
box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.3);
text-transform: uppercase;
transition: 0.3s all;
}
#beer #container .btn-wrapper .icon {
position: absolute;
top: calc(50% + 1px);
left: 10px;
transform: translateY(-50%);
width: 17px;
height: 17px;
border-radius: 50%;
border: 2px solid white;
opacity: 0;
transition: 0.3s all;
}
#beer #container .btn-wrapper .icon::before {
content: "";
position: absolute;
top: -6px;
left: 50%;
transform: translateX(-50%);
width: 2px;
height: 13px;
background: white;
}
#beer #container #chart {
border: 1px solid #6c7480;
border-radius: 50px;
height: 325px;
width: 100%;
max-width: 1000px;
position: relative;
margin: 0 auto;
}
#beer #container #chart #temperature {
position: absolute;
top: -53px;
left: 50%;
transform: translateX(-50%);
background: #d8e8ff;
padding: 15px 50px;
font-size: 18px;
}
#beer #container #chart #process {
background: #d8e8ff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: calc(100% + 200px);
height: 170px;
}
#beer #container #chart #process #stages {
height: 100%;
display: flex;
justify-content: space-around;
}
#beer #container #chart #process #stages .stage {
position: relative;
display: inline-block;
z-index: 1;
padding-top: 15px;
width: 170px;
text-align: center;
}
#beer #container #chart #process #stages .stage::before {
content: "";
position: absolute;
top: 55px;
left: 50%;
transform: translateX(-50%);
height: 50px;
width: 1px;
background: #6c7480;
}
#beer #container #chart #process #stages .stage::after {
content: "";
position: absolute;
bottom: 18px;
left: 50%;
transform: translateX(-50%);
height: 27px;
width: 27px;
border: 1px solid #6c7480;
background: white;
border-radius: 50%;
}

#beer #container #chart #process #stages .stage.active::after {
background: #0dab14;
}
#beer #container #chart #process #timeline {
border: 1px solid #6c7480;
background: white;
border-radius: 10px;
height: 13px;
width: 100%;
position: absolute;
bottom: 25px;
left: 50%;
transform: translateX(-50%);
}
#beer #container #chart #buttons {
background: #d8e8ff;
position: absolute;
bottom: -22px;
left: 50%;
transform: translate(-50%);
display: flex;
}
#beer #container #chart #buttons .btn-wrapper {
margin: 0 15px;
}
#beer #container #chart #buttons .btn-wrapper.active button {
background: #363a40;
color: white;
}
#beer #container #chart #buttons .btn-wrapper button {
background: white;
border: 1px solid #a3afbf;
width: 200px;
}
#beer #container #chart #buttons .btn-wrapper button:hover {
background: #6c7480;
color: white;
}
#beer #container #chart #buttons .btn-wrapper button[disabled] {
pointer-events: none;
opacity: 0.75;
}
#beer #container .start-wrapper {
margin-top: 90px;
}
#beer #container .start-wrapper.active button {
background: #0a7e10;
}
#beer #container .start-wrapper #start {
background: #0dab14;
color: white;
width: 260px;
border: 1px solid #0dab14;
}
#beer #container .start-wrapper #start:hover {
background: #0a7e10;
}
h4 {
margin: 2px 0 0 0;
}
button {
cursor: pointer;
}