<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div id="process">
      <h1>Proces</h1>
        
      <div class="stages">
      
        <div class="stage">
          <h3>Zacieranie</h3>
          <button disabled></button>
        </div>
      
        <div class="stage">
          <h3>Wygrzew</h3>
          <button disabled></button>
        </div>
      
        <div class="stage">
          <h3>Wysładzanie</h3>
          <button disabled></button>
        </div>
      
        <div class="stage">
          <h3>Warzenie</h3>
          <button disabled></button>
        </div>
      
        <div class="stage">
          <h3>Chłodzenie</h3>
          <button disabled></button>
        </div>
      
        <div class="stage">
          <h3>Gotowe do fermentacji</h3>
          <button disabled></button>
        </div>
      
      </div>
    </div>
          
    <div id="process">
      <h1>Guziczki</h1>
      
      <div class="buttons">
      
        <div class="button">
          <h3>Proces</h3>
          <button></button>
        </div>
      
        <div class="button">
          <h3>Grzałka</h3>
          <button id="heater"></button>
        </div>
      
        <div class="button">
          <h3>Pompa</h3>
          <button id="pompka"></button>
        </div>
      
        <div class="button">
          <h3>Chłodzenie</h3>
          <button></button>
        </div>
      
      </div>
        
    </div>
        
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
  </script>

<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>

  </body>
</html>
